{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Partners - TOP5SAI{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/partners.css' %}">
{% endblock %}

{% block content %}
<!-- Page Header Start -->
   <div class="partners-header">
        <h1>Our Partners</h1>
        <p>
            We are proud to collaborate with leading organizations and brands. <br>
            Meet our partners who help us deliver excellence in multimedia, events, and entertainment.
        </p>
    </div>
<!-- Page Header End -->

<!-- Partners Section Start -->
    <div class="container py-5 partners-grid">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/RDB.png' %}" alt="Partner 1 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/RCB.png' %}" alt="Partner 2 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/IMBUTOF.png' %}" alt="Partner 3 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/BPN.png' %}" alt="Partner 4 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/OMS.png' %}" alt="Partner 5 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/UNICEF.png' %}" alt="Partner 6 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/RBA.webp' %}" alt="Partner 7 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/ADRA.png' %}" alt="Partner 8 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/INES.png' %}" alt="Partner 9 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/RBC.png' %}" alt="Partner 10 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/WR.png' %}" alt="Partner 11 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/SNV.png' %}" alt="Partner 12 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/care.png' %}" alt="Partner 13 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/CR.png' %}" alt="Partner 14 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/NYC.png' %}" alt="Partner 15 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/dian-fossey-gorilla-fund-590x200-removebg-preview.png' %}" alt="Partner 16 Logo"
                    class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/msh.png' %}" alt="Partner 17 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/pf.png' %}" alt="Partner 18 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/bdf.png' %}" alt="Partner 19 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/Airtel.png' %}" alt="Partner 20 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/mtn.jpg' %}" alt="Partner 21 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/hi.png' %}" alt="Partner 22 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/BK.webp' %}" alt="Partner 23 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/mango.png' %}" alt="Partner 24 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/Marriott.png' %}" alt="Partner 25 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/skol.png' %}" alt="Partner 26 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/mashirika_logo7.png' %}" alt="Partner 27 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/rcf.jpg' %}" alt="Partner 28 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/rff.jpg' %}" alt="Partner 29 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/Nature-Rwanda.png' %}" alt="Partner 30 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/js.jpg' %}" alt="Partner 31 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/salax.jpg' %}" alt="Partner 31 Logo" class="partner-logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <img src="{% static 'img/ear.jpg' %}" alt="Partner 31 Logo" class="partner-logo">
            </div>
            <!-- Add more images as needed -->
        </div>
    </div>
<!-- Partners Section End -->

<!-- Call to Action -->
<div class="container-fluid py-5" style="background: linear-gradient(90deg, #09b4ed 0%, #1a237e 100%);">
    <div class="container text-center">
        <h3 class="text-white mb-4">Join Our Partnership Network</h3>
        <p class="text-white-50 mb-4">Are you interested in partnering with TOP5SAI? We're always looking for strategic partnerships to expand our services and capabilities.</p>
        <a href="{% url 'contact' %}" class="btn btn-light btn-lg px-5">Become a Partner</a>
    </div>
</div>
<!-- Call to Action End -->
{% endblock %}
